.table-wrap img {
    margin: .6rem auto .1rem !important;
}


/* 标签外挂 网站卡片 start */

.site-card-group img {
    margin: 0 auto .1rem !important;
}

.site-card-group .info a img {
    margin-right: 10px !important;
}

[data-theme='dark'] .site-card-group .site-card .info .title {
    color: #f0f0f0 !important;
}

[data-theme='dark'] .site-card-group .site-card .info .desc {
    color: rgba(255, 255, 255, .7) !important;
}

.site-card-group .info .desc {
    margin-top: 4px !important;
}

.v[data-class=v] .vcontent .emoji[alt|=menhera],
.v[data-class=v] .vcontent .vemoji[alt|=menhera] {
    max-width: 300px !important;
    vertical-align: middle;
    margin: 0 1px 2px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .v[data-class=v] .vcontent .emoji[alt|=menhera],
    .v[data-class=v] .vcontent .vemoji[alt|=menhera] {
        max-width: calc( 100% - 30px) !important;
    }
}


/* 标签外挂 网站卡片 end */

@keyframes Gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

[data-theme='dark'] #page-header:before {
    background-color: rgba(0, 0, 0, 0.4) !important;
}


/* 搜索添加动画 及icon颜色 */

@media screen and (min-width: 768px) {
    #search-button .search .fa-search {
        -webkit-animation: float 2s linear infinite;
        animation: float 2s linear infinite
    }
}

[data-theme='dark'] .recent-posts .recent-post-item .recent-post-info .content {
    color: rgba(255, 255, 255, 0.8) !important
}


/* 修改crad板块中的github font-size */

.card-content .fa-github {
    margin: 0 0.5rem;
    font-size: 1.4em;
    cursor: pointer;
}

.fa-heart {
    color: #fc0505 !important
}

.fa-qq {
    color: #10a4ff
}

.fa-weixin {
    color: #00bf03
}

.fa-alipay {
    color: #4890f7
}

.fa-weibo {
    color: #F03AB9
}

.fa-rss {
    color: #e66c1b
}

[data-theme='dark'] .announcement_content {
    color: #ddd;
}

[data-theme='dark'] #aside_content #card-toc .toc-content .toc-link.active {
    color: #fff;
}


/* footer */

[data-theme='dark'] #footer-wrap {
    color: #ddd;
}

#footer-wrap .framework-info a {
    color: #00e7ff;
}


/* 文章内容部分 表格 */

.ethan_tzy_table tr {
    font-size: 1.8em;
}

@media screen and (max-width:768px) {
    .ethan_tzy_table tr {
        font-size: 0.8rem !important;
    }
}

.ethan_tzy_no_th_bg table thead,
.ethan_tzy_table table thead,
#article-container .ethan_tzy_table code {
    background: transparent !important;
    font-weight: bold;
}

.ethan_tzy_table.two table thead,
.ethan_tzy_table.two table tr,
.ethan_tzy_table.two table tr td {
    width: 50%;
}

.ethan_tzy_table.two .github-emoji {
    position: relative;
    vertical-align: middle;
    width: 1.4em;
    height: 1.4em;
}


/* 文章内容部分 表格 */


/* .card-content  End */

body {
    cursor: url(https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/theme_f/curcor1.png), auto;
}

.hide-block>.hide-button.open,
.hide-inline>.hide-button.open {
    display: block
}

a,
button,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/theme_f/curcor2.png), auto
}

video {
    width: 100%
}

.card-info-avatar:hover {
    background: url(https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/theme_f/avater_hover.gif)
}

audio {
    outline: 0
}

p.red,
span.red {
    --Color: rgb(233, 30, 100);
    --ColorA: rgba(233, 30, 100, 0.2)
}

p.green,
span.green {
    --Color: rgb(139, 195, 74);
    --ColorA: rgba(139, 195, 74, 0.2)
}

p.blue,
span.blue {
    --Color: rgb(3, 169, 244);
    --ColorA: rgba(3, 169, 244, 0.2)
}

p.yellow,
span.yellow {
    --Color: rgb(255, 193, 7);
    --ColorA: rgba(255, 193, 7, 0.2)
}

p.grey,
span.grey {
    --Color: rgb(76, 76, 76);
    --ColorA: rgba(76, 76, 76, 0.2)
}

p.div-border {
    padding: 10px;
    border: 1px solid var(--Color, #333);
    border-radius: .4rem;
    background-color: var(--ColorA, transparent)
}

p.left {
    border-left-width: 5px;
    border-left-color: var(--Color)
}

p.bottom {
    border-bottom-width: 5px;
    border-bottom-color: var(--Color)
}

p.right {
    border-right-width: 5px;
    border-right-color: var(--Color)
}

p.top {
    border-top-width: 5px;
    border-top-color: var(--Color)
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-track {
    border-radius: 2em;
    /* background-color: rgba(73, 177, 245, .2); */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 255 / .3);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    border-radius: 2em
}

::-webkit-scrollbar-corner {
    background-color: transparent
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5
}


/* 修改 input :checked 透明度 */

[data-theme="dark"] .checkbox {
    filter: brightness(1) !important;
}

.no-icon-tzy {
    padding-left: 0 !important;
}

.no-icon-tzy:before {
    content: " " !important;
}

.link-box,
.masked1,
.masked2 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.masked1,
.masked2 {
    justify-content: center;
}

.masked1 div:first-child,
.masked2 div:first-child {
    font-size: 1.25em;
    min-height: 40px;
    line-height: 40px;
    margin-right: 0.2vw;
}

.masked1 h3,
.masked2 h3,
.masked {
    display: flex;
    align-items: center;
    /* width: 600px; */
    min-height: 40px;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: masked-animation 4s infinite linear;
}

.masked1 h3,
.masked2 h3 {
    justify-content: center;
    margin: 0 auto;
}

.masked1 h3 {
    background-image: -webkit-linear-gradient(left, #3498db, #f47920 10%, #d71345 20%, #f7acbc 30%, #ffd400 40%, #3498db 50%, #f47920 60%, #d71345 70%, #f7acbc 80%, #ffd400 90%, #3498db);
}

.masked2 h3 {
    background-image: -webkit-linear-gradient(left, #3498db, #f47920 90%, #d71345 80%, #f7acbc 70%, #ffd400 60%, #3498db 50%, #f47920 40%, #d71345 30%, #f7acbc 20%, #ffd400 10%, #3498db);
}

.masked {
    background-image: -webkit-linear-gradient(left, #ffffff, #ffd400 90%, #3498db 80%, #f7acbc 70%, #f7acbc 60%, #d71345 50%, #f47920 40%, #f7acbc 30%, #d71345 20%, #ffd400 10%, #3498db);
}

.flink>h2 {
    padding-left: 0 !important;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: masked-animation 5s infinite linear;
    background-image: -webkit-linear-gradient(left, #ffffff, #ffd400 90%, #3498db 80%, #f7acbc 70%, #f7acbc 60%, #d71345 50%, #f47920 40%, #f7acbc 30%, #d71345 20%, #ffd400 10%, #3498db);
}

.flink>h2:before {
    content: " " !important;
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}

.avater_tzy img {
    border-radius: 50%;
    width: 110px;
    height: auto;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.faa-float.animated,
.faa-float.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-float {
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite
}

.faa-float.animated-hover.faa-fast:hover,
.faa-float.animated.faa-fast,
.faa-parent.animated-hover:hover>.faa-float.faa-fast {
    -webkit-animation: float 1s linear infinite;
    animation: float 1s linear infinite
}

.faa-float.animated-hover.faa-slow:hover,
.faa-float.animated.faa-slow,
.faa-parent.animated-hover:hover>.faa-float.faa-slow {
    -webkit-animation: float 3s linear infinite;
    animation: float 3s linear infinite
}

@-webkit-keyframes horizontal {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    6% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    12% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    18% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    24% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    30% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    100%,
    36% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes horizontal {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    6% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    12% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    18% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    24% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    30% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0)
    }
    100%,
    36% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.faa-horizontal.animated,
.faa-horizontal.animated-hover:hover,
.faa-parent.animated-hover:hover>.faa-horizontal {
    -webkit-animation: horizontal 2s ease infinite;
    animation: horizontal 2s ease infinite
}

.faa-horizontal.animated-hover.faa-fast:hover,
.faa-horizontal.animated.faa-fast,
.faa-parent.animated-hover:hover>.faa-horizontal.faa-fast {
    -webkit-animation: horizontal 1s ease infinite;
    animation: horizontal 1s ease infinite
}

.faa-horizontal.animated-hover.faa-slow:hover,
.faa-horizontal.animated.faa-slow,
.faa-parent.animated-hover:hover>.faa-horizontal.faa-slow {
    -webkit-animation: horizontal 3s ease infinite;
    animation: horizontal 3s ease infinite
}

#aside_content .card-archives ul.card-archive-list>.card-archive-list-item a span,
#aside_content .card-categories ul.card-category-list>.card-category-list-item a span,
#aside_content .card-info .card-info-data>.card-info-data-item a .headline,
#pagination .next_info,
#pagination .prev_info,
#sidebar #sidebar-menus .menus_items .site-page,
#sidebar #sidebar-menus .site-data .data-item .data-item-link>a>div,
.flink#article-container .flink-list>.flink-list-item a .flink-item-desc,
.flink#article-container .flink-list>.flink-list-item a .flink-item-name,
.limit-one-line {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

#aside_content .aside-list>.aside-list-item .content>.comment,
#aside_content .aside-list>.aside-list-item .content>.name,
#aside_content .aside-list>.aside-list-item .content>.title,
#error-wrap .error-content .error-info .error_subtitle,
#post-info .post-title,
#recent-posts>.recent-post-item>.recent-post-info>.article-title,
#recent-posts>.recent-post-item>.recent-post-info>.content,
.article-sort-item-title,
.limit-more-line,
.relatedPosts>.relatedPosts-list .content .title,
figure.gallery-group .gallery-group-name,
figure.gallery-group p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical
}


/* 文章内部标签 icon  */

#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before,
#post .post-outdate-notice:before,
.fontawesomeIcon,
.note:not(.no-icon)::before,
hr:before {
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    font-variant: normal;
    font-family: 'Font Awesome 5 Free';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased
}

#article-container h1,
#article-container h2,
#article-container h3,
#article-container h4,
#article-container h5,
#article-container h6 {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out
}

#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before {
    position: absolute;
    top: calc(50% - .35rem);
    color: #f47466;
    content: '\f0c1';
    line-height: 1;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out
}

#article-container h1:hover:before,
#article-container h2:hover:before,
#article-container h3:hover:before,
#article-container h4:hover:before,
#article-container h5:hover:before,
#article-container h6:hover:before {
    color: #49b1f5
}

#article-container h1 {
    padding-left: 1.4rem
}

#article-container h1 code {
    font-size: 1rem
}

#article-container h1:before {
    margin-left: -1.2rem;
    font-size: 1rem
}

#article-container h1:hover {
    padding-left: 1.6rem
}

#article-container h2 {
    padding-left: 1.3rem
}

#article-container h2 code {
    font-size: .9rem
}

#article-container h2:before {
    margin-left: -1.1rem;
    font-size: .9rem
}

#article-container h2:hover {
    padding-left: 1.5rem
}

#article-container h3 {
    padding-left: 1.2rem
}

#article-container h3 code {
    font-size: .8rem
}

#article-container h3:before {
    margin-left: -1rem;
    font-size: .8rem
}

#article-container h3:hover {
    padding-left: 1.4rem
}

#article-container h4 {
    padding-left: 1.1rem
}

#article-container h4 code {
    font-size: .7rem
}

#article-container h4:before {
    margin-left: -.9rem;
    font-size: .7rem
}

#article-container h4:hover {
    padding-left: 1.3rem
}

#article-container h5 {
    padding-left: 1rem
}

#article-container h5 code {
    font-size: .6rem
}

#article-container h5:before {
    margin-left: -.8rem;
    font-size: .6rem
}

#article-container h5:hover {
    padding-left: 1.2rem
}

#article-container h6 {
    padding-left: 1rem
}

#article-container h6 code {
    font-size: .6rem
}

#article-container h6:before {
    margin-left: -.8rem;
    font-size: .6rem
}

#article-container h6:hover {
    padding-left: 1.2rem
}

.read-mode #article-container h1,
.read-mode #article-container h2,
.read-mode #article-container h3,
.read-mode #article-container h4,
.read-mode #article-container h5,
.read-mode #article-container h6 {
    padding: 0
}

.read-mode #article-container h1:before,
.read-mode #article-container h2:before,
.read-mode #article-container h3:before,
.read-mode #article-container h4:before,
.read-mode #article-container h5:before,
.read-mode #article-container h6:before {
    content: ''
}

.read-mode #article-container h1:hover,
.read-mode #article-container h2:hover,
.read-mode #article-container h3:hover,
.read-mode #article-container h4:hover,
.read-mode #article-container h5:hover,
.read-mode #article-container h6:hover {
    padding: 0
}

#article-container figure.highlight .line:before {
    display: inline-block;
    padding: 0 .3rem 0 0;
    min-width: 1.6rem;
    color: rgba(238, 255, 255, .5);
    content: counter(line);
    counter-increment: line;
    text-align: left
}

#article-container figure.highlight .line.marked {
    background-color: rgba(97, 97, 97, .314)
}

#article-container figure.highlight table {
    display: block;
    overflow: auto;
    border: none
}

#article-container figure.highlight table td {
    padding: 0;
    border: none
}

#article-container figure.highlight .gutter pre {
    padding-right: .5rem;
    padding-left: .5rem;
    background-color: #212121;
    color: rgba(238, 255, 255, .5);
    text-align: right
}

#article-container figure.highlight .code pre {
    padding-right: .5rem;
    padding-left: .5rem;
    width: 100%
}

#article-container figure.highlight,
#article-container pre {
    overflow: auto;
    margin: 0 0 1rem;
    padding: 0;
    background: #212121;
    color: #eff;
    line-height: 1.6;
    counter-reset: line;
    white-space: pre-wrap
}

blockquote {
    margin: 0 0 1rem;
    padding: .1rem .8rem;
    border-left: .2rem solid #49b1f5;
    background-color: var(--blockquote-bg);
    color: var(--blockquote-color)
}

blockquote a {
    word-break: break-all
}

blockquote p {
    margin: 0 !important;
    padding: .5rem 0
}

blockquote footer {
    padding: 0 0 .5rem
}

blockquote footer cite:before {
    padding: 0 .3em;
    content: '—'
}

#article-container code,
#article-container pre {
    font-size: 16px;
    font-family: consolas, Menlo, "PingFang SC", "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important
}

#article-container code {
    padding: .1rem .2rem;
    background: rgba(27, 31, 35, .05);
    color: #f47466;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word
}

#article-container pre {
    padding: 10px 20px
}

#article-container pre code {
    padding: 0;
    background: 0 0;
    color: #eff;
    text-shadow: none
}

#article-container figure.highlight {
    position: relative
}

#article-container figure.highlight pre {
    margin: 0;
    padding: 8px 0;
    border: none
}

#article-container figure.highlight .caption,
#article-container figure.highlight figcaption {
    padding: .3rem 0 .1rem .7rem;
    font-size: 16px;
    line-height: 1em
}

#article-container figure.highlight .caption a,
#article-container figure.highlight figcaption a {
    float: right;
    padding-right: 10px;
    color: #eff
}

#article-container figure.highlight .caption a:hover,
#article-container figure.highlight figcaption a:hover {
    border-bottom-color: #eff
}

#article-container .highlight-tools {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    min-height: 1.2rem;
    height: 2.15em;
    background: #1c1c1c;
    color: rgba(238, 255, 255, .8);
    font-size: 16px
}

#article-container .highlight-tools.closed+table {
    display: none
}

#article-container .highlight-tools .expand {
    position: absolute;
    padding: .4rem .7rem;
    cursor: pointer;
    -webkit-transition: -webkit-transform .3s;
    -moz-transition: -moz-transform .3s;
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    transition: transform .3s
}

#article-container .highlight-tools .expand+.code-lang {
    left: 1.7rem
}

#article-container .highlight-tools .expand.closed {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(-90deg) !important;
    -moz-transform: rotate(-90deg) !important;
    -o-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important
}

#article-container .highlight-tools .code-lang {
    position: absolute;
    left: .7rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#article-container .highlight-tools .copy-notice {
    position: absolute;
    right: 1.7rem;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -o-transition: opacity .4s;
    -ms-transition: opacity .4s;
    transition: opacity .4s
}

#article-container .highlight-tools .copy-button {
    position: absolute;
    right: .7rem;
    cursor: pointer;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -ms-transition: color .2s;
    transition: color .2s
}

#article-container .highlight-tools .copy-button:hover {
    color: #49b1f5
}

#article-container .gutter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#article-container .gist table {
    width: auto
}

#article-container .gist table td {
    border: none
}

#article-container figure.highlight {
    margin: 0 0 1.2rem;
    border-radius: 7px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .4);
    -webkit-transform: translateZ(0)
}

#article-container figure.highlight .highlight-tools:after {
    position: absolute;
    left: .7rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fc625d;
    -webkit-box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' '
}

#article-container figure.highlight .highlight-tools .expand {
    right: 0
}

#article-container figure.highlight .highlight-tools .expand.closed {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    -webkit-transform: rotate(90deg) !important;
    -moz-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important
}

#article-container figure.highlight .highlight-tools .expand~.copy-notice {
    right: 2.8rem
}

#article-container figure.highlight .highlight-tools .expand~.copy-button {
    right: 1.8rem
}

#article-container figure.highlight .highlight-tools .code-lang {
    left: 3.8rem !important
}

#article-container {
    word-wrap: break-word;
    overflow-wrap: break-word
}

#article-container a {
    color: #49b1f5
}

#article-container a:hover {
    text-decoration: underline
}

#article-container img {
    margin: .4rem auto
}

#article-container p {
    margin: 0 0 .8rem
}

#article-container iframe {
    margin: 0 0 1rem
}

#article-container ol,
#article-container ul {
    margin-top: .4rem;
    padding: 0 0 0 .8rem;
    list-style: none;
    counter-reset: li
}

@media screen and (max-width:768px) {
    #article-container ol,
    #article-container ul {
        padding: 0 0 0 .4rem
    }
}

#article-container ol p,
#article-container ul p {
    margin: 0 0 .6rem
}

#article-container ol ol,
#article-container ol ul,
#article-container ul ol,
#article-container ul ul {
    padding-left: .6rem
}

@media screen and (max-width:768px) {
    #article-container ol ol,
    #article-container ol ul,
    #article-container ul ol,
    #article-container ul ul {
        padding-left: .2rem
    }
}

#article-container ol li:not(.tab),
#article-container ul li:not(.tab) {
    position: relative;
    margin: .2rem 0
}

#article-container ol li:hover:before,
#article-container ul li:hover:before {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}

#article-container ol li:before,
#article-container ul li:before {
    position: absolute;
    top: 0;
    left: 0;
    background: #49b1f5;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#article-container ol>li:not(.tab) {
    padding: .2em .2em .2em 1.8em
}

#article-container ol>li:before {
    margin-top: .65em;
    width: 1.45em;
    height: 1.45em;
    border-radius: .725em;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    font-size: .85em;
    line-height: 1.45em
}

#article-container ul>li:not(.tab) {
    padding: .2em .2em .2em 1.4em
}

#article-container ul>li:not(.tab):hover:before {
    border-color: #ff7242
}

#article-container ul>li:not(.tab):before {
    top: .78em;
    width: .42em;
    height: .42em;
    border: .21em solid #49b1f5;
    border-radius: .42em;
    background: 0 0;
    content: '';
    line-height: .42em
}


/* .aplayer {
    color: #4c4948
}

#article-container .aplayer {
    margin: 0 0 1rem
}

#article-container .aplayer ol,
#article-container .aplayer ul {
    margin: 0;
    padding: 0
}

#article-container .aplayer ol li,
#article-container .aplayer ul li {
    margin: 0;
    padding: 0 15px
}

#article-container .aplayer ol li:before,
#article-container .aplayer ul li:before {
    content: none
}

#article-container .tip a {
    color: #e6eaed
} */

#article-container .aplayer ol,
#article-container .aplayer ul {
    margin: 0;
    padding: 0
}

#article-container .aplayer ol li,
#article-container .aplayer ul li {
    margin: 0;
    padding: 0 15px
}

#article-container .aplayer ol li:before,
#article-container .aplayer ul li:before {
    content: none
}

#article-container .tip a {
    color: #e6eaed
}


/* 代码块颜色 */

figure.highlight pre .addition {
    color: #00bf03 !important;
}

[data-theme='dark'] .tip.cogs code {
    background: rgba(27, 31, 35, .05) !important;
}

[data-theme=dark] #article-container code {
    background: rgba(27, 31, 35, .05) !important;
}


/* 拓展内容-使用纯css实现仿徽标样式 START */


/*标签整体样式*/

.github-badge {
    margin-left: 5px;
    display: inline-block;
    border-radius: 4px;
    text-shadow: none;
    color: #fff;
    line-height: 15px;
    background-color: #abbac3;
    margin-bottom: 5px;
    font-size: 12px;
}


/* 超链接下划线隐藏 */

.github-badge a {
    text-decoration: none;
}


/* 标签左侧样式 */

.github-badge .badge-subject {
    background-color: #4d4d4d;
    padding: 4px 4px 4px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


/* 标签右侧样式 */

.github-badge .badge-value {
    padding: 4px 6px 4px 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* 标签背景色，随意自定义，渐变色也可以 */

.github-badge .bg-blue {
    background-color: #007ec6;
}

.github-badge .bg-green {
    background-color: #4dc820;
}

.github-badge .bg-orange {
    background-color: orange;
}

.github-badge .bg-gradient {
    background: linear-gradient(to right, #3ca5f6, #a86af9);
}

.github-badge .bg-violet {
    background-color: #8833d7;
}


/* 灯笼 Start */

* {
    box-sizing: border-box;
}


/* 移动端显示/隐藏 /none/block，可自定义显示一个 */

@media screen and (max-width: 970px) {
    .d-box1 {
        display: none;
    }
    .dengl .d-box {
        right: 0px;
        top: -40px;
        /* 自定义灯笼大小 */
        transform: scale(0.4);
    }
}

.dengl {
    position: fixed;
    z-index: 9;
}


/* .d-box,.d-box1{
    z-index: 9;
  } */

.d-box {
    position: fixed;
    /* 自定义灯笼的位置 */
    right: 85px;
    top: 0;
    /* 自定义灯笼大小 */
    transform: scale(0.8);
}

.d-box1 {
    position: fixed;
    /* 自定义灯笼的位置 */
    left: 0;
    top: 0;
    /* 自定义灯笼大小 */
    transform: scale(0.8);
}


/* 修改灯笼的字体 */

.d-box .d1::after {
    content: '牛年吉祥';
}

.d-box1 .d1::after {
    content: '万事顺利';
}

.d-box1 .d1,
.d-box1 .d2,
.d-box1 .d1::after,
.d-box1 .d1::before,
.d-box1 .d2::after,
.d-box1 .d2::before,
.d-box1 .d2 ul li span,
.d-box1 .d1 ul li span {
    background-color: #f01f1a;
    border: 5px solid #5c1713;
    /* 自定义灯笼的阴影 */
    /* box-shadow: 0 5px 61px rgba(255, 240, 29, 0.88); */
}

.d1,
.d2,
.d1::after,
.d1::before,
.d2::after,
.d2::before,
.d2 ul li span,
.d1 ul li span {
    background-color: #f01f1a;
    border: 5px solid #5c1713;
    /* 自定义灯笼的阴影 */
    box-shadow: 0 5px 61px #ff1d1d;
}

.d1::after,
.d1::before {
    height: 82px;
    position: absolute;
    top: 0;
    content: '';
    font-size: 17px;
}

.d1,
.d2 {
    position: relative;
    animation: swing 4s linear infinite;
    transform-origin: top center;
}

.d1 {
    width: 160px;
    top: 100px;
    height: 90px;
    right: 0;
    border-radius: 80px/49px;
}

.d1::before {
    top: -5px;
    right: 7px;
    width: 123px;
    border-radius: 62px/52px;
}

.d1::after {
    text-align: center;
    line-height: 90px;
    color: #ffe31d;
    font-weight: 600;
    top: -5px;
    right: 35px;
    width: 69px;
    border-radius: 41px/49px;
}

.d1 span {
    position: absolute;
    top: 84px;
    left: 49px;
    width: 50px;
    height: 16px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d1 span:nth-child(2) {
    top: -17px;
    border-radius: 10px 10px 0 0;
}

.d1 p {
    position: absolute;
    top: -31px;
    left: 13px;
    width: 16px;
    height: 13px;
    border-radius: 25px;
    border: 5px solid #5c1713;
    border-bottom: 0;
}

.d1 ul {
    position: relative;
    top: 80px;
    left: 13px;
    width: 54px;
    display: flex;
}

.d1 li {
    flex: 1;
    list-style: none;
    height: 24px;
    margin: 0px 2.5px;
    width: 5px;
    border-radius: 5px;
    border-right: 3.5px solid #5c1713;
}

.d1 ul li:nth-child(3) {
    content: '';
    height: 50px;
}

.d1 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 47px;
    left: 54px;
    width: 5px;
    height: 5px;
    border-radius: 5px 5px 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d1 ul li span {
    position: absolute;
    top: 20px;
    left: 55px;
    width: 13px;
    height: 19px;
    border-radius: 14px;
}

.d2::after,
.d2::before {
    position: absolute;
    height: 128px;
    top: -3px;
    content: '';
}

.d2 {
    width: 199px;
    height: 128px;
    top: -61px;
    right: -122px;
    border-radius: 98px/70px;
}

.d2::before {
    top: -8px;
    right: 18px;
    width: 143px;
    border-radius: 69px/67px;
}


/* 自定义背景图片 */

.d2::after {
    top: -8px;
    right: 51px;
    width: 75px;
    border-radius: 57px/89px;
    background: url(https://7.dusays.com/2021/02/03/7e1a77cf800cf.png) no-repeat;
    background-position: center;
    background-size: 92px auto;
}

.d2 span {
    position: absolute;
    top: 123px;
    left: 68px;
    width: 55px;
    height: 14px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d2 span:nth-child(2) {
    top: -16px;
    border-radius: 10px 10px 0 0;
}

.d2 p {
    position: absolute;
    top: -32px;
    left: 13px;
    width: 19px;
    height: 13px;
    border-radius: 25px;
    border: 5px solid #5c1713;
    border-bottom: 0;
}

.d2 ul {
    position: relative;
    top: 121px;
    left: 32px;
    width: 53px;
    display: flex;
}

.d2 li {
    flex: 1;
    list-style: none;
    height: 24px;
    margin: 0px 3px;
    width: 4px;
    border-radius: 7px;
    border-right: 3px solid #5c1713;
}

.d2 ul li:nth-child(3) {
    content: '';
    height: 60px;
}

.d2 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 59px;
    left: 53px;
    width: 9px;
    height: 6px;
    border-radius: 5px 5px 10px 10px;
    background-color: #ffe31d;
    border: 5px solid #5c1713;
}

.d2 ul li span {
    position: absolute;
    top: 21px;
    left: 54px;
    width: 18px;
    height: 17px;
    border-radius: 20px;
}

@keyframes swing {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-13deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(13deg);
    }
    100% {
        transform: rotate(0);
    }
}


/* 灯笼 END */